<h2>総合ランキング</h2>
<table>
  <tr>
  	<th>Name</th>
  	<th>Point</th>
  </tr>
<% @rankers.each do |ranker| %>
  <tr>
  	<td><%= link_to ranker['user'].name, ranker['user'] %></td>
  	<td><%= sprintf("%d pts.", ranker['point'].to_i) %></td>
  </tr>
<% end %>
</table>

<p>(Pointは各スコアレートを合計したものです)</p>
