<h2>楽曲リスト</h2>

<table>
  <tr>
    <th>Level</th>
    <th>Title</th>
    <th>Notes</th>
    <th>Ver</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td>☆<%= song.level %></td>
    <td><%= link_to song.title, song%></td>
    <td><%= song.notes %></td>
    <td><%= ver_name song.ver %></td>
  </tr>
<% end %>
</table>

<br />
